html {
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

body{
  background-image: url('Japanese Breakfast/JB_Background1.png');
  background-size: cover;
  background-position: center;
  background-position-y: center; 
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

#JB_Background{
  background-size: cover;
  background-position: center;
  background-position-y: center; 
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#Main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* How to center an element */ 
  width: 550px;
}

#title{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: rgba(76, 128, 82, 1);
  font-family: Forum; 
  font-weight: 200; 
  letter-spacing: 10px;
  white-space: nowrap;
}

#NowPlaying{
top: 80%; 
left: 2%; 
background-color: white;
height: 100px;
width: 300px; 
position: absolute;
font-family: Digital Numbers;
color: rgba(76, 128, 82, 1); 
border-radius: 5px;
font-size: 20px;
}

#Range{
  bottom: -10px; 
  left: 490px; 
  -webkit-appearance: none; 
  width: 500px;
  height: 6px; 
  background: #14ae5c; 
  position: absolute;
  cursor: pointer;
  margin: 40px 0; 
  z-index: 2;
  bottom: 80px;
  border-radius: 5px;
}

#Range::-webkit-slider-thumb{
  -webkit-appearance: none; 
  background: grey; 
  width: 30px; 
  height: 30px;  
  border-radius: 50%;
  border: 8px solid #fff; 
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  cursor: pointer; 
}


#Play{
  z-index: 2;
  position: absolute;
  bottom: 50px;
  color: #14ae5c; 
  font-size: 50px;
   left: 730px; 
  cursor:pointer; 
  transition: color .15s;
}

#Play:hover{
  color: #80ffbb;
}

 #Back{
  z-index: 2;
  position: absolute;
  bottom: 50px;
  color: #14ae5c;
  font-size: 50px;
  left: 540px;
  cursor:pointer;
   transition: color .15s;
}

#Back:hover{
  color: #80ffbb;
}


#Up{
  z-index: 2;
  position: absolute;
  bottom: 50px;
  color: #14ae5c;
  font-size: 50px;
  left: 900px;
  cursor:pointer;
  transition: color .15s;
}

#Up:hover{
  color: #80ffbb;
}

#Repeat{
  position: absolute;
  bottom: 103px; 
  font-size: 30px; 
  right: 457px;
  cursor:pointer;
  --repeat-off: rgb(76,128,82);
  --repeat-on:  rgb(128,255,187);
  --repeat-hover: var(--repeat-on);
  color: var(--repeat-off);
  transition: color .15s;
}

#Repeat[aria-pressed="true"] {
  color: var(--repeat-on); 
}

#Repeat:hover { 
  color: var(--repeat-hover); 
}

@media (max-width: 1476px){  /*1251px*/ 
  #title{
    margin: 0px; 
    font-size: 5.5vw; /*Doesnt Look Good*/ 
  }
  #Range{
    width: 40vw; 
    left: 30%; 
  } 
  #Play{
    font-size: 50px;
    left: 50%; 
  }
  #Back{
    font-size: 50px; 
    left: 30%; 
  }
  #Up{
    font-size: 50px;
    left: 70%; 
  }
 #Main{
  top: 40%; 
   width: 490px; 
  }
  #NowPlaying{ 
   top: 70%; 
   left: 30%; 
   width: 43vw;
   height: 105px; 
   text-align: center;
  }
  #Repeat{
    bottom: 103px; 
    right: 23%;
  }
}