html {
  height: 100%;
  width: 100%;
}

/* So Happy I found this!!!*/ 
body{
 /* margin: 0; Remove End Space*/
  background-image: url('Japanese Breakfast/JB_Background1.png');
  background-size: cover;
  background-position: center;
  background-position-y: center; 
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

#JB_Background{
  /*width: 100%;
  height: 100% */ 
  background-size: cover;
  background-position: center;
  background-position-y: center; 
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#Main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* How to center an element */ 
  width: 550px;
 /* height: 50%; */ 
}

#title{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: rgba(76, 128, 82, 1);
  font-family: Forum; /*Forum*/ 
  font-weight: 200; 
  letter-spacing: 10px;
  white-space: nowrap;
}

#NowPlaying{
top: 80%; 
left: 2%; 
background-color: white;
height: 100px;
width: 300px; 
position: absolute;
font-family: Digital Numbers;
color: rgba(76, 128, 82, 1); /* Green */
border-radius: 5px;
font-size: 20px;
}

#Range{
  bottom: -10px; /* 30 */
  left: 490px; 
  -webkit-appearance: none; /* Hide default slider */ 
  width: 500px;
  height: 6px; 
  background: #14ae5c; /*rgba(76, 128, 82, 1)*/ 
  position: absolute;
  cursor: pointer;
  margin: 40px 0; 
  z-index: 2;
  bottom: 80px;
  border-radius: 5px;
  /*top: 90%;
  left: 50%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
  width: 50%;
  height: 20px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s; */ 
}

#Range::-webkit-slider-thumb{
  -webkit-appearance: none; 
  /*background: #14ae5c; */ 
  background: grey; 
  width: 30px; 
  height: 30px;  
  border-radius: 50%;
  border: 8px solid #fff; 
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  cursor: pointer; 
}


#Play{
  z-index: 2;
  position: absolute;
  bottom: 50px;
  color: #14ae5c; 
  font-size: 50px;
   left: 730px; 
  cursor:pointer; 
}

#Play:hover{
  color: #80ffbb;
}

/*#Play:active{
  color: #ccffe4;
} */ 


 #Back{
  z-index: 2;
  position: absolute;
  bottom: 50px;
  color: #14ae5c;
  font-size: 50px;
  left: 540px;
  cursor:pointer;
}

#Back:hover{
  color: #80ffbb;
}

/* #Back:active{
  color: #ccffe4;
} */ 

#Up{
  z-index: 2;
  position: absolute;
  bottom: 50px;
  color: #14ae5c;
  font-size: 50px;
  left: 900px;
  cursor:pointer;
}

#Up:hover{
  color: #80ffbb;
}

/*#Up:active{
  color: #ccffe4;
} */ 

/*@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
} */ 

@media (max-width: 1249px){
  #title{
    margin: 0px; 
    font-size: 5.5vw; 
  }
  #Range{
  /*  width: 300px;*/ 
  /*  left: 300px; */ 
    width: 40vw; 
    left: 30%; 
  } 
  #Play{
    font-size: 50px;
  /*  left: 450px; */ 
    left: 50%; 
  }
  #Back{
    font-size: 50px;
   /* left: 300px; */ 
    left: 30%; 
  }
  #Up{
    font-size: 50px;
  /*  left: 600px; */ 
    left: 70%; 
  }
 #Main{
  top: 40%; 
 /*    width: 70vw; */ 
   width: 490px; 
  }
  #NowPlaying{ 
   top: 70%; 
  /*  left: 36%; */ 
    left: 30%; 
  /*  height: 80px; /*Not Centered Still*/
    width: 43vw;
    height: 105px; 
  }
/* body{
display: flex; 
} */ 
}